{% extends 'base.html.twig' %}

{% block title %}Hello EntreprisesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Cette page affichera la liste des entreprises proposant un stage</h1>

{% for entreprise in liste_entreprises %}
        <div class="card">
            <h5 class="card-header">{{entreprise.nom}}</h5>
            <div class="card-body">
                <h5 class="card-title">Adresse: {{entreprise.adresse}}</h5><br>
                <h5 class="card-title">Activité: {{entreprise.activite}} </h5><br>
                <h5 class="card-title">Activité: {{entreprise.siteWeb}} </h5>
                <a href="{{ path('detailEntreprise', {'id_entreprise': entreprise.id}) }}" class="btn btn-primary">Stage</a>
                <a href="{{ path('formModifierEntreprise', {'id_entreprise': entreprise.id}) }}" class="btn btn-primary">modifier</a>
            </div>
        </div>    
{% endfor %}
    
</div>
{% endblock %}